.product-card{
    border: 1px solid var(--color-text-light);
    border-radius: 8px;
    padding: 1rem;
    background-color: #5ccb5f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

/* .product-card:hover{
    transform: translateY(-8px);
    box-shadow: var(--shadow-medium);
} */

.product-card-image-wrapper{
    overflow: hidden;
    border-radius: 5px;
    margin: auto;
}

.product-card-image{
    max-width: 200%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
    border-radius: 8px;
}

/* .product-card:hover .product-card-image{
    transform: scale(1.08);
} */

.product-card-info h3 {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.2rem;
}

.product-card-price{
    font-weight: bold;
    color: var(--color-primary);
    margin: 0;
}

.product-card-actions{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.button-detail{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #009929;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  flex-grow: 1;
  text-decoration: none;
}

.button-detail:hover {
  background-color: #f3b24a;
  color: var(--color-background);
  transform: none;
  box-shadow: none;
}

.product-card-actions button {
  flex-grow: 1;
}

.product-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-text-light);
  background-color: rgba(194, 168, 143, 0.1);
  border-radius: 0 0 8px 8px;
  margin: 1rem -1rem -1rem -1rem;
  padding: 1rem;
}