.register-prompt {
  text-align: center;
  margin-top: 1.5rem;
  color: var(--color-text-dark);
}

.register-link {
  display: inline-block;
  margin-left: 8px;
  padding: 10px 24px;
  border-radius: 5px;
  font-weight: bold;
  
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: all 0.3s ease;
}

.register-link:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
  transform: translateY(-2px);
  box-shadow: var(--shadow-medium);
}